* {
    padding: 0;
    margin: 0;
}
ul.menu{
    padding: 4px;
}
ul.menu a{
    display: flex;
    text-decoration: none;
    color: black;
    float: right;
    padding: 4px;
    
    
}
img{
    border-radius: 90px;
    float: right;
}
.ft2{
    float: left;
}
.op{
    color: blueviolet;
}
.sec01{
    padding-left: 2rem ;
}